Repository jgtolentino/ai-aas-hardened-lakehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser sql

feat(agents): restore missing agents to reach 17 total
  AGENT_INVENTORY_COMPLETE.md
  AGENT_INVENTORY_UPDATED.md
  config/agentic-analytics.yaml
  mcp/agents/docs-writer.yaml
  mcp/agents/scout-docs-writer.yaml
  pulser/agents/backend-architect.yaml
  pulser/agents/dash.yaml
  pulser/agents/devops-architect.yaml
  pulser/agents/devstral.yaml
  pulser/agents/frontend-architect.yaml
  pulser/agents/maya.yaml
  pulser/agents/performance-engineer.yaml
  pulser/agents/quality-engineer.yaml
  pulser/agents/security-engineer.yaml
  pulser/agents/superclaude-cicd-workflow.yaml
  pulser/agents/technical-writer.yaml
Due: prettier --write

feat: implement Anthropic-first agent management system
  .github/workflows/agents-registry.yml
  config/agentic-analytics.yaml
  mcp/agents/docs-writer.yaml
  mcp/agents/scout-docs-writer.yaml
  pulser/agents/backend-architect.yaml
  pulser/agents/dash.yaml
  pulser/agents/devops-architect.yaml
  pulser/agents/devstral.yaml
  pulser/agents/frontend-architect.yaml
  pulser/agents/maya.yaml
  pulser/agents/performance-engineer.yaml
  pulser/agents/quality-engineer.yaml
  pulser/agents/security-engineer.yaml
  pulser/agents/superclaude-cicd-workflow.yaml
  pulser/agents/superclaude-setup.sh
  pulser/agents/technical-writer.yaml
  pulser/registry/agents.yaml
  qa/pulser/agents/qa-browser-use.yaml
  scripts/agents-create.sh
  scripts/agents-fix-compliance.sh
  scripts/agents-validate.sh
Due: prettier --write

feat: Complete Creative Studio Agents Registry with 21+ Agents
  .github/workflows/creative-agents.yml
  STUDIO_AGENTS.csv
  STUDIO_AGENTS.table
  creative-studio/agents/creative/audio-generator.yaml
  creative-studio/agents/creative/brief-generator.yaml
  creative-studio/agents/creative/copy-generator.yaml
  creative-studio/agents/creative/visual-generator.yaml
  creative-studio/agents/design/brand-guardian.yaml
  creative-studio/agents/design/ui-designer.yaml
  creative-studio/agents/design/visual-storyteller.yaml
  creative-studio/agents/engineering/backend-architect.yaml
  creative-studio/agents/engineering/frontend-developer.yaml
  creative-studio/agents/intelligence/dash-visual-intel.yaml
  creative-studio/agents/intelligence/jampacked-creative-expert.yaml
  creative-studio/agents/intelligence/performance-analyzer.yaml
  creative-studio/agents/marketing/content-creator.yaml
  creative-studio/agents/marketing/growth-hacker.yaml
  creative-studio/agents/marketing/tiktok-strategist.yaml
  creative-studio/agents/project-mgmt/studio-producer.yaml
  creative-studio/agents/studio-ops/analytics-reporter.yaml
  creative-studio/agents/studio-ops/finance-tracker.yaml
  creative-studio/agents/studio-ops/studio-coach.yaml
  creative-studio/agents/testing/performance-benchmarker.yaml
  creative-studio/agents/testing/workflow-optimizer.yaml
  creative-studio/docs/README.md
  creative-studio/mcp/creative-operations.json
  creative-studio/registry/creative-agents.yaml
  pulser/tasks/studio-agents-sweep.yaml
  scripts/creative-agents-validate.sh
  scripts/studio-agents-sweep.sh
Due: prettier --write

feat(agents): Pulser wrappers + token-usage report + CI artifact
  .github/workflows/agents-usage.yml
  pulser/tasks/agents-dev.yaml
  scripts/agent-usage-report.sh
Due: prettier --write

docs: clarify scout-analytics-blueprint-doc as canonical UI repository
  SUBMODULES_GUIDE.md
  docs/adr/001-scout-dashboard-standalone.md
Due: prettier --write

chore: remove failing GitHub Actions workflows
  .github/workflows/edge-functions.yml
  .github/workflows/storage-buckets.yml
Due: prettier --write

chore(ci): PR template, CODEOWNERS, dependabot, badges, labeler
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  Makefile
  README.md
Due: prettier --write

feat(mcp): add HTTPS MCP Hub for Custom GPT integration
  infra/mcp-hub/.gitignore
  infra/mcp-hub/README.md
  infra/mcp-hub/package-lock.json
  infra/mcp-hub/package.json
  infra/mcp-hub/src/adapters/mapbox.js
  infra/mcp-hub/src/adapters/supabase.js
  infra/mcp-hub/src/openapi.js
  infra/mcp-hub/src/server.js
Due: eslint --fix, prettier --write

chore: add MCP Hub make targets
  Makefile
Due: none

fix: correct pnpm setup order in dataset-publisher-tests workflow
  .github/workflows/dataset-publisher-tests.yml
Due: prettier --write

fix: remove pnpm version conflicts in workflows
  .github/workflows/ci.yml
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/deploy-vercel.yml
Due: prettier --write

fix: configure vitest to pass with no tests in pi-edge app
  apps/pi-edge/package.json
  apps/pi-edge/vite.config.ts
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml after adding jsdom dependency
  pnpm-lock.yaml
Due: prettier --write

fix(ci): include infra directory in path filtering
  .github/workflows/ci.yml
Due: prettier --write

feat(supabase): add bi-directional sync workflows
  .github/workflows/supabase-diff.yml
  .github/workflows/supabase-push.yml
  Makefile
  add-access-token.sh
  apps/scout-dashboard/src/components/scout/KpiCard/KpiCard.stories.tsx
  apps/scout-dashboard/src/components/scout/KpiCard/KpiCard.test.tsx
  apps/scout-dashboard/src/components/scout/KpiCard/index.tsx
  docs/components/KpiCard.md
  github-workflows-fixed.md
  scripts/supabase/db_diff_commit.sh
  scripts/supabase/db_push.sh
  setup-github-secrets.sh
  supabase/migrations/20250828_add_kpi_card_states.sql
  verify-github-secrets.sh
Due: eslint --fix, prettier --write, prettier --write --parser sql

chore: trigger CI from infra/mcp-hub
  add-missing-access-token.sh
  infra/mcp-hub/README.md
Due: prettier --write

test(migrations): ping - verify Supabase bidirectional sync
  supabase/migrations/20250827194620_sanity_ping.sql
Due: prettier --write --parser sql

feat: add Vercel Supabase environment setup scripts
  scripts/setup-vercel-supabase.sh
  scripts/vercel-supabase-one-liner.sh
Due: none

fix: correct Vercel Supabase setup scripts with proper project reference
  scripts/setup-vercel-supabase.sh
  scripts/vercel-supabase-one-liner.sh
Due: none

sec: hardened gitleaks config + pre-commit hook - SECURITY BREACH RESPONSE
  .github/workflows/security-secrets.yml
  .gitleaks.toml
  environments/dev/edge.env
  environments/dev/superset.env
  environments/prod/edge.env
  environments/prod/superset.env
  environments/staging/edge.env
  environments/staging/superset.env
  gitleaks-report-final.json
  gitleaks-report-post-purge.json
  gitleaks-report.json
  infra/mcp-hub/FIGMA_GITHUB_SYNC.md
  infra/mcp-hub/IMPLEMENTATION_GUIDE.md
  infra/mcp-hub/QUICK_START.md
  infra/mcp-hub/claude-desktop-prompts.md
  infra/mcp-hub/custom-gpt-config.json
  infra/mcp-hub/setup-figma-github-sync.sh
  infra/mcp-hub/src/adapters/figma-github-sync.js
  infra/mcp-hub/src/adapters/figma.js
  infra/mcp-hub/src/adapters/github.js
  infra/mcp-hub/src/openapi.js
  infra/mcp-hub/src/server.js
  infra/mcp-hub/test-figma-github-sync.sh
Due: eslint --fix, prettier --write

sec: secure MCP Hub logging - remove sensitive headers from logs
  infra/mcp-hub/src/server.js
Due: eslint --fix, prettier --write

docs(claude): add planning/tasks for Scout Dashboard PRD → production assessment
  docs/claude/claude.md
  docs/claude/planning.md
  docs/claude/tasks.md
Due: prettier --write

docs: complete Scout Dashboard PRD assessment and migration planning
  docs/scout/gap-analysis.md
  docs/scout/migration-checklist.md
Due: prettier --write

ci: include Scout/Claude docs in CI path filters
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: package.json)
  prettier --write --parser sql: any of: *.sql
