Repository jgtolentino/ai-aas-hardened-lakehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser sql

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,yml,yaml}": [
    "prettier --write"
  ],
  "*.sql": [
    "prettier --write --parser sql"
  ],
  "package.json": [
    "prettier --write"
  ]
}

feat: implement comprehensive PR triage automation system
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/good-first-issue.yml
  .github/labeler.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/dependabot-automerge.yml
  .github/workflows/k8s-policy-gate.yml
  .github/workflows/labels-sync.yml
  .github/workflows/policy-gate.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/size-label.yml
  .github/workflows/slash-gfi.yml
Due: prettier --write

fix: use valid Docker image tags in security workflows
  .github/workflows/security.yml
Due: prettier --write

sec: add Polaris audit workflow (pinned 10.1.0, score gates, artifacts)
  .github/workflows/k8s-policy-gate.yml
  .github/workflows/polaris-audit.yml
  .polaris.yaml
  scripts/ci/dispatch-workflow.sh
  scripts/test-polaris-locally.sh
Due: prettier --write

ci(security): deterministic Semgrep+Trivy via CLI; secrets-optional; JSON artifacts; strict gates
  .github/workflows/security.yml
Due: prettier --write

feat: add comprehensive security scanning workflows
  .github/workflows/grype-scan.yml
  .github/workflows/kube-validate.yml
  .github/workflows/release-provenance.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/security.yml
  .grype.yaml
  Dockerfile
  docs-site/docs/agents/scout-docs-writer.mdx
  docs-site/wiki/Agents.md
  docs-site/wiki/scout-docs-writer.md
Due: prettier --write

docs(ci): add docs-verify workflow, coverage+orphan guard, lint configs, scripts
  .github/workflows/docs-verify.yml
  .markdownlint.jsonc
  docs-site/.remarkrc.mjs
  package.json
  scripts/check-doc-coverage.mjs
Due: prettier --write

build: pin Node/pnpm; regenerate pnpm-lock.yaml deterministically
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(docker): pin Node/pnpm via Corepack; enforce --frozen-lockfile; add .dockerignore
  .dockerignore
  Dockerfile
Due: none

sec(grype): gate on SBOM (Syft) to decouple from Docker; image scan best-effort
  .github/workflows/grype-scan.yml
Due: prettier --write

fix(docker): handle missing build script gracefully
  Dockerfile
Due: none

feat: integrate Azure theme and Scout landing page
  docs-site/docs/agents/docs-writer.mdx
  docs-site/src/components/HomepageFeatures/index.js
  docs-site/src/components/HomepageFeatures/styles.module.css
  docs-site/src/css/azure-theme.css
  docs-site/src/css/custom.css
  docs-site/src/pages/index.js
  docs-site/src/pages/index.module.css
  docs-site/wiki/docs-writer.md
  scripts/generate-agent-docs.mjs
Due: eslint --fix, prettier --write

fix: resolve MDX compilation errors and add missing assets
  docs-site/docs/architecture/overview.md
  docs-site/docs/assets/diagrams/scout-schema-erd.svg
  docs-site/docs/assets/diagrams/security-architecture.svg
  docs-site/docs/assets/diagrams/system-overview.svg
Due: prettier --write

fix: resolve favicon 404 and complete Azure theme integration
  docs-site/sidebars.ts
  docs-site/static/img/favicon.ico
  docs-site/static/img/logo.svg
Due: eslint --fix, prettier --write

fix(docker): simplify build fallback for turbo monorepo
  Dockerfile
Due: none

feat: add AI chat assistant and SQL playground
  docs-site/package.json
  docs-site/src/components/AIChat/index.js
  docs-site/src/components/AIChat/styles.module.css
  docs-site/src/pages/index.js
  docs-site/src/pages/playground.js
  docs-site/src/pages/playground.module.css
  docs-site/src/theme/Root.js
Due: eslint --fix, prettier --write

feat: add comprehensive Scout Dashboard with Tableau-style layout
  docs-site/src/pages/dashboard.js
  docs-site/src/pages/dashboard.module.css
Due: eslint --fix, prettier --write

feat(docs): add AI chat component, SQL playground, and dashboard enhancements
  docs-site/package.json
  docs-site/src/components/AdvancedDataGrid.js
  docs-site/src/components/AdvancedDataGrid.module.css
  docs-site/src/pages/scout-advanced.js
  docs-site/src/pages/scout-advanced.module.css
  docs-site/src/pages/scout.js
  docs-site/src/pages/scout.module.css
  docs-site/src/services/openai-service.js
Due: eslint --fix, prettier --write

feat(ci): update docs deployment to use pnpm and support feature branch
  .github/workflows/docs-deploy.yml
Due: prettier --write

fix(deps): update lockfile for docs-site dependencies
  pnpm-lock.yaml
Due: prettier --write

feat: Complete Scout Edge Ingest system with confidence scoring
  INTEGRATION.md
  README.md
  edge-device/app/calibration.json
  edge-device/app/config.yaml
  edge-device/scout-edge.service
  fixtures/calibration/labels.jsonl
  fixtures/golden.json
  scripts/calibration_check.py
  scripts/deploy.sh
  scripts/test_golden.sh
  sql/init_gold.sql
  supabase/functions/scout-edge-ingest/index.ts
  supabase/functions/scout-edge-ingest/schema.json
Due: eslint --fix, prettier --write, prettier --write --parser sql

docs: Add comprehensive API documentation and sample responses
  docs/api-responses.md
  docs/dashboard-queries.sql
  docs/json-schema-reference.json
Due: prettier --write, prettier --write --parser sql

feat: Add TBWA gap analysis and complete fix package
  TBWA-GAP-ANALYSIS.md
  samples/compact-schema.json
  samples/request-examples.json
  samples/response-examples.json
  samples/test-curl.sh
  scripts/backfill-brands.sql
  scripts/create-quality-monitors.sql
  scripts/staging-transcripts.sql
  supabase/functions/scout-edge-ingest/index-with-transcripts.ts
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat: Complete brand resolution system with STT integration
  BRAND-RESOLUTION-GUIDE.md
  scripts/brand-reports.sql
  scripts/brand-resolver-trigger.sql
  scripts/brand-universe-setup.sql
  scripts/export-brand-catalog.sh
  scripts/setup-brand-resolution.sh
  scripts/stt-brand-dictionary.sql
  scripts/token-mining-trigger.sql
Due: prettier --write, prettier --write --parser sql

feat: Complete quality monitoring and alerting system
  .github/ISSUE_TEMPLATE/quality-incident.yml
  .github/workflows/quality-sentinel.yml
  QUALITY-MONITORING-GUIDE.md
  scripts/confusion-kpis.sql
  scripts/confusion-matrix-setup.sql
  scripts/evaluation-schedule.sql
  scripts/operational-alerts.sql
  scripts/quality-sentinel-setup.sql
  scripts/setup-quality-monitoring.sh
  supabase/functions/quality-sentinel/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat: Complete Scout ETL Pipeline with Medallion Architecture
  Makefile
  bootstrap-scout-scraper.sh
  packages/scout-scraper-worker/package.json
  packages/scout-scraper-worker/src/worker.ts
  packages/scout-scraper-worker/tsconfig.json
  platform/scout/bruno/requests/30_scrape_seed.bru
  platform/scout/bruno/requests/31_get_next_job.bru
  platform/scout/bruno/requests/33_status.bru
  platform/scout/migrations/026_scraping_queue.sql
  supabase/functions/isko-scraper/index.ts
  supabase/functions/isko-scraper/supabase.toml
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat: Production-grade hardening for SKU scraper
  Makefile
  SCRAPER-OPERATIONS-GUIDE.md
  packages/scout-scraper-worker/src/worker.ts
  platform/scout/bruno/requests/34_dashboard_snapshot.bru
  platform/scout/bruno/requests/35_throttle_domain.bru
  platform/scout/bruno/requests/36_inspect_job.bru
  platform/scout/migrations/027_scraper_hardening.sql
  platform/scout/migrations/028_master_items_ingest.sql
  platform/scout/migrations/029_cron_schedules.sql
  platform/scout/migrations/030_health_monitoring.sql
  platform/scout/migrations/031_operational_controls.sql
  platform/scout/migrations/032_smoke_test_data.sql
  scripts/deploy-scraper.sh
  supabase/functions/isko-scraper/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat: Complete multi-source ingestion system with edge computing
  INGESTION-OPERATIONS-GUIDE.md
  platform/scout/migrations/033_file_ingestion_system.sql
  platform/scout/migrations/034_edge_device_infrastructure.sql
  platform/scout/migrations/035_ingestion_dashboard.sql
  platform/scout/migrations/036_edge_scout_integration.sql
  scripts/test-ingestion-system.sql
Due: prettier --write, prettier --write --parser sql

feat: Scout Analytics Dashboard with Supabase configuration fix
  .env.example
  .env.local
  DEPLOYMENT-FIX-GUIDE.md
  package.json
  public/index.html
  public/runtime-env.js
  src/components/ScoutDashboard.tsx
  src/hooks/useScoutData.ts
  src/index.css
  src/lib/supabase.ts
  src/main.tsx
  src/services/scoutService.ts
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

chore: remove committed secrets; ignore env artifacts
  .gitignore
  .gitmodules
Due: none

ship: Scout Scraper v0.1.0 production ready
  SHIP-INSTRUCTIONS.md
  platform/scout/migrations/037_scout_edge_ingest_schema.sql
  platform/scout/migrations/038_quality_sentinel_functions.sql
  ship-database.sql
  supabase/functions/isko-scraper/index.ts
  supabase/functions/isko-scraper/supabase.toml
  supabase/functions/jwt-echo/index.ts
  supabase/functions/quality-sentinel/index.ts
  supabase/functions/scout-edge-ingest/index-with-transcripts.ts
  supabase/functions/scout-edge-ingest/index.ts
  supabase/functions/scout-edge-ingest/schema.json
  supabase/migrations/037_scout_edge_ingest_schema.sql
  supabase/migrations/038_quality_sentinel_functions.sql
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat(scout): add blueprint dashboard as git submodule (pinned to 3ecf240)
  .gitmodules
Due: none

feat(scout): integrate blueprint dashboard as submodule
  .github/workflows/dashboard.yml
  .gitignore
  Makefile
  package.json
  platform/scout/DASHBOARD_INTEGRATION.md
Due: prettier --write

feat: Integrate edge-suqi-pie submodule for Scout PI transaction clustering
  .github/workflows/edge-suqi-pie.yml
  .gitmodules
  Makefile
  docker/services/edge-suqi-pie.yml
  makefiles/edge-suqi-pie.mk
Due: prettier --write

docs: Add monorepo structure analysis and migration script
  MONOREPO_STRUCTURE_ANALYSIS.md
  monorepo_migrate.sh
  platform/scout/TODO_STATUS.md
  platform/scout/migrations/20250115_archive_eda_parquet_setup.sql
Due: prettier --write, prettier --write --parser sql

chore: remove submodule and add monorepo configs
  .gitmodules
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write
