Repository jgtolentino/ai-aas-hardened-lakehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser sql

feat(backlog): comprehensive backlog system with labels, templates, CI validation, and seeder
  .backlog_sweep/by_path.txt
  .backlog_sweep/component_candidates.txt
  .backlog_sweep/exports.txt
  .backlog_sweep/raw_hits.txt
  .backlog_sweep/seed_issues_from_backlog.py
  .backlog_sweep/sweep_command.sh
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/add-to-project.yml
  .github/workflows/backlog-validate.yml
  .github/workflows/chatgpt-database-bridge.yml
  .github/workflows/docs-verify.yml
  .github/workflows/figma-code-connect.yml
  .github/workflows/powerbi-tableau-bridge.yml
  .pre-commit-config.yaml
  Makefile
  docs/PRD/backlog/SCOUT_UI_BACKLOG.schema.json
  docs/PRD/backlog/SCOUT_UI_BACKLOG.yml
Due: prettier --write

feat: Complete Enterprise Automation System with CI/CD Playbook
  SCOUT_V6_IMPLEMENTATION.md
  START_FIGMA_MCP.md
  apps/scout-dashboard/app/ai/page.tsx
  apps/scout-dashboard/app/competitive/page.tsx
  apps/scout-dashboard/app/consumers/page.tsx
  apps/scout-dashboard/app/geography/page.tsx
  apps/scout-dashboard/app/mix/page.tsx
  apps/scout-dashboard/app/overview/page.tsx
  apps/scout-dashboard/dashboard.config.json
  apps/scout-dashboard/src/data/hooks.ts
  apps/scout-dashboard/src/data/supabase.ts
  apps/scout-dashboard/src/store/useFilters.ts
  apps/scout-ui/src/components/Kpi/KpiCard.tsx
  apps/scout-ui/src/components/Skeleton.tsx
  commit-scout-v6.sh
  docs/PRD/PRD-SCOUT-UI-v6.0.md
  infra/mcp-hub/src/adapters/figma-proxy.js
  infra/mcp-hub/src/openapi.js
  infra/mcp-hub/src/server.js
  migration_script.sql
  packages/contracts/src/scout.ts
  validate-scout-v6.sh
Due: eslint --fix, prettier --write, prettier --write --parser sql

🎨 Integrate Scout Dashboard with Finebank Design System via Code Connect
  apps/scout-dashboard/FINEBANK_INTEGRATION.md
  apps/scout-dashboard/app/(main)/layout.tsx
  apps/scout-dashboard/app/analytics/page.tsx
  apps/scout-dashboard/app/finebank/page.tsx
  apps/scout-dashboard/app/layout.tsx
  apps/scout-dashboard/app/overview/page.tsx
  apps/scout-dashboard/app/page.tsx
  apps/scout-dashboard/app/reports/page.tsx
  apps/scout-dashboard/docs/FIGMA_INTEGRATION.md
  apps/scout-dashboard/figma.config.json
  apps/scout-dashboard/package.json
  apps/scout-dashboard/scripts/setup-figma-code-connect.sh
  apps/scout-dashboard/src/components/ai/RecommendationPanel.figma.tsx
  apps/scout-dashboard/src/components/charts/AnalyticsChart.figma.tsx
  apps/scout-dashboard/src/components/layout/Sidebar.figma.tsx
  apps/scout-dashboard/src/components/scout/KpiCard/index.figma.tsx
  apps/scout-dashboard/src/components/tabs/OverviewTab.figma.tsx
  apps/scout-dashboard/src/styles/app.css
  apps/scout-dashboard/src/styles/finebank-design-system.css
  apps/scout-dashboard/tailwind.config.ts
Due: eslint --fix, prettier --write

docs: add comprehensive Documentation Index to root README
  README.md
Due: prettier --write

fix: Add Dependabot skip condition to security workflow and management tools
  .github/workflows/dependabot-management.yml
  .github/workflows/security-scan.yml
  scripts/dependabot-auto-merge.sh
  scripts/dependabot-recreate-failing.sh
  scripts/dependabot-verify-status.sh
  vercel.json
Due: prettier --write

fix: Correct Dependabot actor name in security workflow skip condition
  .github/workflows/security-scan.yml
Due: prettier --write

ci: systemic reset — PR_TARGET security scan, skip bot workflows, disable Dependabot temporarily
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/security-scan.yml
Due: prettier --write

chore(dependabot): re-enable with strict throttling, grouping, and direct-deps only
  .github/dependabot.yml
Due: prettier --write

test(ci): bot skip validation
  .ci/_bot_skip_check.txt
Due: none

test(ci): human validation
  .ci/_human_check.txt
Due: none

test(ci): human validation - trigger workflows
  .ci/_human_check.txt
Due: none

ci: add Universal CI workflow for all PRs
  .github/workflows/universal-ci.yml
Due: prettier --write

fix: simplify Vercel config for static deployment
  public/index.html
  vercel.json
Due: prettier --write

fix: clean up Universal CI workflow formatting
  .github/workflows/universal-ci.yml
Due: prettier --write

fix: apply working Vercel configuration
  public/index.html
  vercel.json
Due: prettier --write

docs(ci): adopt Supabase-style separation — docs-only workflow, API integration
  .github/workflows/docs-site.yml
  package.json
  typedoc.json
Due: prettier --write

fix: Convert Universal CI to pull_request_target for immediate PR fixes
  .github/workflows/universal-ci.yml
Due: prettier --write

docs: Add comprehensive MCP integration documentation and testing
  MCP_INTEGRATION_STATUS.md
  SUPABASE_MCP_SETUP_COMPLETE.md
  claude_desktop_config_snippet.json
  test-mcp-scout.sh
  test-supabase-connection.js
Due: eslint --fix, prettier --write

docs(schema): auto-sync documentation update
  platform/scout/docs/SCHEMA_CHANGELOG.md
  platform/scout/docs/api/README.md
  platform/scout/docs/database/README.md
  platform/scout/docs/database/erd/README.md
  platform/scout/docs/database/erd/graphviz/scout-platform-erd.dot
  platform/scout/docs/database/erd/mermaid/bronze-layer.mmd
  platform/scout/docs/database/erd/mermaid/complete-erd.mmd
  platform/scout/docs/database/erd/mermaid/convert_dbml_to_mermaid.py
  platform/scout/docs/database/erd/mermaid/gold-layer.mmd
  platform/scout/docs/database/erd/mermaid/governance-layer.mmd
  platform/scout/docs/database/erd/mermaid/platinum-layer.mmd
  platform/scout/docs/database/erd/mermaid/silver-layer.mmd
  platform/scout/docs/database/erd/sql/scout-platform-schema.sql
  platform/scout/docs/database/schema-metadata.md
  platform/scout/docs/database/scout-platform-schema.dbml
Due: prettier --write, prettier --write --parser sql

feat: Deploy Neural DB Workbench
  apps/scout-dashboard/app/api/workbench/health/route.ts
  apps/scout-dashboard/app/workbench/page.tsx
Due: eslint --fix, prettier --write

fix: Configure Vercel environment variables for Neural DB Workbench
  apps/neural-workbench/vercel.json
Due: prettier --write

feat(streamlit): add dashboard_v6.py as main app with Lesson 7 CSV viewer and filters
  scout-analytics-framework/modules/scout_v6/dashboard_v6.py
Due: none

feat: implement TBWA Neural Workbench v2.0 Streamlit application
  apps/neural-workbench-streamlit/.streamlit/config.toml
  apps/neural-workbench-streamlit/DEPLOYMENT.md
  apps/neural-workbench-streamlit/LAUNCH_SUMMARY.md
  apps/neural-workbench-streamlit/README.md
  apps/neural-workbench-streamlit/launch.sh
  apps/neural-workbench-streamlit/lib/__init__.py
  apps/neural-workbench-streamlit/lib/supabase_client.py
  apps/neural-workbench-streamlit/requirements.txt
  apps/neural-workbench-streamlit/sample_data.csv
  apps/neural-workbench-streamlit/streamlit_app.py
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: package.json)
  prettier --write --parser sql: any of: *.sql
