Repository jgtolentino/ai-aas-hardened-lakehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser sql

ci: harden migrations (pgcrypto), seed CI, gate DQ on main, cache pnpm, add health checks
  .github/workflows/ci.yml
  db/migrations/000_extensions.sql
  db/migrations/001_init.sql
  db/migrations/090_views_dashboard.sql
  db/migrations/099_enrichment_log.sql
  db/seeds/ci_min_brands.sql
  dq/checks/run_all.sql
Due: prettier --write, prettier --write --parser sql

ci: standardize on pnpm, ensure checkout/full history, gate cloud tests on secrets, make artifacts non-fatal
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/edge-functions.yml
  .github/workflows/security-scan.yml
  .github/workflows/storage-buckets.yml
Due: prettier --write

ci: add pnpm-lock.yaml at repo root
  pnpm-lock.yaml
Due: prettier --write

ci: converge on pnpm + stabilized workflows; disable legacy jobs; add lockfile; concurrency + path filters
  .github/disabled_workflows/backup-restore.yml
  .github/disabled_workflows/ci-production.yml
  .github/disabled_workflows/ci-quick-fix.yml
  .github/disabled_workflows/dashboard.yml
  .github/disabled_workflows/dbt-image.yml
  .github/disabled_workflows/docs-automation.yml
  .github/disabled_workflows/docs-deploy.yml
  .github/disabled_workflows/edge-suqi-pie.yml
  .github/disabled_workflows/environment-matrix.yml
  .github/disabled_workflows/export-diagrams.yml
  .github/disabled_workflows/medallion-etl.yml
  .github/disabled_workflows/policy-gate.yml
  .github/disabled_workflows/publish-datasets.yml
  .github/disabled_workflows/qa.yml
  .github/disabled_workflows/structure-check.yml
  .github/workflows/ci.yml
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/edge-functions.yml
  .github/workflows/security-scan.yml
  .github/workflows/storage-buckets.yml
Due: prettier --write

ci: fix workflow failures - standardize on pnpm, fix git issues, gate cloud tests (#22)
  .github/workflows/dataset-publisher-tests.yml
  .github/workflows/edge-functions.yml
  .github/workflows/security-scan.yml
  .github/workflows/storage-buckets.yml
Due: prettier --write

ci: release images to GHCR (api, worker, brand-model) with cache/provenance/tags
  .github/workflows/release-images.yml
Due: prettier --write

docs: auto-generate README sections + CI guard (no drift)
  .github/workflows/readme-guard.yml
  README.md
  infra/docker/compose.yml
  package.json
  scripts/readme-gen.mjs
  templates/README.tpl.md
Due: prettier --write

chore: add minimal service implementations for Docker builds
  services/api/Dockerfile
  services/api/main.py
  services/api/requirements.txt
  services/brand-model/Dockerfile
  services/brand-model/main.py
  services/brand-model/requirements.txt
  services/worker/Dockerfile
  services/worker/index.js
  services/worker/package.json
Due: eslint --fix, prettier --write

docs: update README with correct service structure
  README.md
Due: prettier --write

fix: improve compose parser to filter out volumes
  README.md
  scripts/readme-gen.mjs
Due: prettier --write

feat: auto-generated README sections + CI guard
  .github/branch-protection.json
  .github/workflows/readme-guard.yml
  README.md
  docs-site/static/diagrams/etl-pipeline-flow.drawio
  docs/diagrams/data-processing-flow.md
  docs/diagrams/scout-gold-dal-ascii.md
  infra/docker/compose.yml
  package.json
  scripts/readme-gen.mjs
  services/api/Dockerfile
  services/api/main.py
  services/api/requirements.txt
  services/brand-model/Dockerfile
  services/brand-model/main.py
  services/brand-model/requirements.txt
  services/worker/Dockerfile
  services/worker/index.js
  services/worker/package.json
  templates/README.tpl.md
Due: eslint --fix, prettier --write

feat: extend README auto-gen with K8s overlays and Supabase functions
  .github/workflows/readme-guard.yml
  DATASET_PUBLISHER_MIGRATION_COMPLETE.md
  MIGRATION_COMPLETE_20250816.md
  README.md
  pnpm-lock.yaml
  scripts/readme-gen.mjs
  templates/README.tpl.md
Due: prettier --write

ci: add SBOM (SPDX) and keyless cosign sign/attest for GHCR images
  .github/workflows/release-images.yml
  README.md
Due: prettier --write

k8s: runtime hardening (securityContext, probes, resources, PDB, HPA, NetPol)
  README.md
  infra/k8s/overlays/prod/netpol.yml
  infra/k8s/overlays/prod/patch-deploy-brand-model.yml
  infra/k8s/overlays/prod/patch-deploy-worker.yml
  infra/k8s/overlays/prod/patch-deploy.yml
Due: prettier --write

ci: add canary SLO check to prod deploy with rollback on breach
  .github/workflows/deploy-production.yml
  scripts/k6/canary.js
Due: eslint --fix, prettier --write

ci: nightly DQ enforcement with auto-issue on failure
  .github/workflows/dq-nightly.yml
  README.md
Due: prettier --write

infra: add docker compose for local DQ testing
  README.md
  infra/docker/compose.yml
Due: prettier --write

docs: comprehensive production hardening guide
  PRODUCTION_HARDENING.md
Due: prettier --write

docs: add comprehensive data flow architecture documentation
  DATA_FLOW_ARCHITECTURE.md
  docs/data-flow-diagram.md
Due: prettier --write

feat: Add scout-databank as submodule with MCP configuration
  .gitmodules
  platform/scout/MCP_CONFIGURATION.md
  platform/scout/README.md
Due: prettier --write

fix(ci): comprehensive GitHub Actions workflow fixes
  .github/workflows/ci.yml
  .github/workflows/edge-functions.yml
  .github/workflows/storage-buckets.yml
  ARCHITECTURE_SYNC.md
  GITHUB_ACTIONS_STATUS.md
  SUPABASE_SYNC_GUIDE.md
  dw/dw_overview.md
  infra/docker/compose.yml
  scripts/setup-github-secrets.sh
  scripts/smoke-test.sh
  scripts/sync-supabase.sh
  services/api/nodemon.json
  services/api/package-lock.json
  services/api/src/index.ts
  services/api/src/routes-dashboard.ts
  services/brand-detector/main.py
  services/dashboard/Dockerfile
  services/dashboard/index.html
  services/dashboard/nginx.conf
  services/dashboard/package-lock.json
  services/dashboard/package.json
  services/dashboard/src/App.css
  services/dashboard/src/App.tsx
  services/dashboard/src/config/supabase.ts
  services/dashboard/src/index.css
  services/dashboard/src/main.tsx
  services/dashboard/tsconfig.json
  services/dashboard/tsconfig.node.json
  services/dashboard/vite.config.ts
  services/worker/Dockerfile
  services/worker/main.py
  services/worker/requirements.txt
Due: eslint --fix, prettier --write

feat: add Scout v5.2 layer alignment and edge device schemas
  .github/workflows/schema-drift-detection.yml
  SCOUT_V3_COMPLETE_SCHEMA.md
  SCOUT_V5_2_LAYER_ALIGNMENT_COMPLETE.md
  check-update-submodules.sh
  docs-site/docs/api/gold-apis.md
  docs-site/docs/intro/index.md
  docs-site/docs/intro/principles.md
  docs-site/docs/playbooks/regional-performance.md
  docs-site/docusaurus.config.js
  docs-site/scripts/generate-dal-docs.js
  docs-site/sidebars.js
  packages/scout-alignment/README.md
  packages/scout-alignment/dal.ts
  packages/scout-alignment/package.json
  platform/scout/migrations/040_edge_device_schema.sql
  platform/scout/migrations/041_stt_detection_schema.sql
  platform/scout/migrations/042_standardize_dim_names.sql
  platform/scout/migrations/043_complete_silver_layer.sql
  sync-migrations.sh
  update-frontend-v52.sh
Due: eslint --fix, prettier --write, prettier --write --parser sql

feat: Add repository hardening tweaks and onboarding
  .github/workflows/drift-check.yml
  CONTRIBUTING.md
  docs/REPO_MAP.md
Due: prettier --write

chore(agents): broaden discovery to include all YAML in agent directories
  AGENT_INVENTORY_UPDATED.md
  agents.csv
  agents.json
  pulser/tasks/agents-list.yaml
  scripts/list_agents.sh
Due: prettier --write

feat(agents): restore missing agents to reach 17 total
  AGENT_INVENTORY_COMPLETE.md
  AGENT_INVENTORY_UPDATED.md
  config/agentic-analytics.yaml
  mcp/agents/docs-writer.yaml
  mcp/agents/scout-docs-writer.yaml
  pulser/agents/backend-architect.yaml
  pulser/agents/dash.yaml
  pulser/agents/devops-architect.yaml
  pulser/agents/devstral.yaml
  pulser/agents/frontend-architect.yaml
  pulser/agents/maya.yaml
  pulser/agents/performance-engineer.yaml
  pulser/agents/quality-engineer.yaml
  pulser/agents/security-engineer.yaml
  pulser/agents/superclaude-cicd-workflow.yaml
  pulser/agents/technical-writer.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: package.json)
  prettier --write --parser sql: any of: *.sql
